<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exhibition</title>
</head>
<body>
<header>
    <h1 class="header-title">전시회 소개 사이트</h1>
</header>
<nav>
    <ul id="menu">
        <li href="/">메인</li>
        <li href="/notice">공지사항</li>
        <li href="/review">관람후기</li>
        <li href="/inquire">문의사항</li>
        <li href="/login">로그인</li>
        <li href="/logout">로그아웃</li>
        <li href="/join">회원가입</li>

        <li href="/memberinfo">회원정보(유저)</li>
        <li href="/manage">회원관리(관리자)</li>
    </ul>
</nav>
<footer>
    <p>어쩌구 저쩌구</p>
</footer>
</body>
</html>